@font-face {
    font-family: MainFont;
    src: url(Staatliches-Regular.ttf);
}

.BodyWrapper{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'MainFont', sans-serif;
}

.RootWrapper{
    display: flex;
    flex-direction: column;
}

/*------------ Menu component ------------*/

.Menu{
    display: flex;
    background: #a55eea;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0px 0px 6px 2px #00000040;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.logo{
    font-size: 40px;
    padding: 15px 40px;
    color: white;
}

.navTxt{
    color: white;
    font-size: 25px;
    margin: 0 20px;
    cursor: pointer;
    transition-duration: 0.3s;
    padding: 5px 15px;
}

.navTxtActive{
    background: #7e3dc0;
    border-radius: 50px;
}

.navTxt:hover{
    transition-duration: 0.3s;
    background: #7e3dc0;
    border-radius: 50px;
}

.navBtn{
    color: #a55eea;
    font-size: 25px;
    margin:0 20px;
    padding: 10px 15px;
    border-radius: 30px;
    background: white;
    transition-duration: 0.3s;
}

.navBtn:hover{
    box-shadow: 0px 0px 6px 2px #00000040;
    transition-duration: 0.3s;
    cursor: pointer;
}

@media screen and (max-width: 1113px) {
    .navTxt{
        color: white;
        font-size: 15px;
        margin: 0 10px;
        cursor: pointer;
        border-bottom: solid 2px #a55eea;
        transition-duration: 0.3s;
    }

    .navBtn{
        color: #a55eea;
        font-size: 15px;
        margin:0 20px;
        padding: 10px 15px;
        border-radius: 30px;
        background: white;
        transition-duration: 0.3s;
    }
}

/*------------ End Menu component ------------*/


/*------------ Main component ------------*/
.MainBox{
    padding: 20px 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
}

.CardBox{
    background: #dddddd;
    width: fit-content;
    padding: 12px;
    border-radius: 10px;
    border: solid 2px #d6d6d6;
    box-shadow: 0px 0px 5px 2px #00000035;
    margin: auto;
    cursor: pointer;
    transition-duration: 0.3s;
    z-index: 50;
    position: relative;
}

.ImgCardBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.DateCardBox{
    position: relative;
    bottom: 16px;
    background: #a55eea;
    color: white;
    font-size: 18px;
    width: fit-content;
    padding: 5px 10px;
    align-self: flex-end;
    border-radius: 50px;
    left: 5px;
}

.MovieImgCard{
    border-radius: 10px;
    object-fit: cover;
    object-position: top;
    border: solid 2px #cccccc;
}

.TxtCardBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.NoteCard{
    background: #4caf50;
    padding: 10px 7px 8px;
    border-radius: 11px;
    font-size: 23px;
    margin: auto;
    height: fit-content;
}

.CardBtn{
    display: flex;
    position: relative;
    bottom: 250px;
    font-size: 18px;
    color: white;
    background: #a55eea;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 50px;
    margin-bottom: -29px;
    cursor: pointer;
    /* margin-bottom: -29px !important; */
    margin: auto;
    transition-duration: 0.3s;
}

.CardBtn:hover{
    transition-duration: 0.3s;
    background: #7e3dc0;
    box-shadow: 0px 0px 6px 2px #00000040;
}

.GenreBox{
    font-size: 16px;
    margin: 0;
    background: #a55eea;
    padding: 3px 8px 2px 8px;
    border-radius: 50px;
    width: fit-content;
    margin-top: 5px;
}

@media screen and (max-width: 1225px) {
    .MainBox{
        padding: 20px 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
    }
}


/*------------ End Main component ------------*/


/*------------ Search component ------------*/

.SearchBar{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: #a55eea;
    padding: 20px 0;
    box-shadow: 0px 5px 5px 0px #00000030;
    margin-top: 15px;
    margin-bottom: 25px;
}

.SearchInput{
    background: white;
    border-radius: 50px 0px 0px 50px;
    padding: 10px 20px;
    border: none;
    font-family: 'MainFont', sans-serif;
    font-size: 25px;
}

.SearchInput:focus{
    color: #a55eea;
    overflow: none;
}

.SearchInput:focus-visible {
    outline: none;
}

.SearchInput::placeholder{
    color: rgb(175, 175, 175);
}

.SearchIcone{
    font-size: 22px;
    margin: auto;
    color: #a55eea;
    background: #e6e6e6;
    padding: 10px;
    border-radius: 100px;
    box-shadow: 0px 0px 6px 2px #00000030;
    transition-duration: 0.3s;
}

.SearchIcone:hover{
    background: #d6d6d6;
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: none
}

.SearchIconeBox{
    background: white;
    border-radius: 0px 50px 50px 0px;
    display: flex;
    padding: 0px 6px;
}

.SearchSelectBox{
    background: #dddddd;
    border: solid 1px #cacaca;
    padding: 7px 10px 5px 10px;
    font-family: 'MainFont';
    border-radius: 100px;
}

.SearchSelect{
    background: transparent;
    border: none;
    font-family: 'MainFont';
    font-size: 18px
}

.SearchSelect:focus-visible{
    outline: none;
}

.SearchResolutionBox{
    display: flex;
    align-self: flex-end;
    background: #dddddd;
    border: solid 1px #cacaca;
    padding: 4px 2px;
    border-radius: 50px;
    height: fit-content;
}

.SearchResolutionItem{
    padding: 3px 11px 2px 11px;
    margin: 0px 4px;
    border-radius: 40px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.SearchResolutionItem:hover{
    background: #a55eea;
    color: white;
    transition-duration: 0.3s;
}

.HeaderLine{
    background: #a55eea;
    height: 4px;
    width: 65px;
    align-self: center;
    border-radius: 50px;
    margin-bottom: 30px;
}

/*------------ End Search component ------------*/

.Footer{
    display: flex;
    background: white;
    height: 100px;
}
